# The apikey for the different weather providers, at least one must be specified
# Note: Hamweather requires two apikeys: client_id=apikey, client_secret=apikey2
apikey.ForecastIo=
apikey.OpenWeatherMap=
#apikey.WorldWeatherOnline=
#apikey.Wunderground=
#apikey.Hamweather=
#apikey2.Hamweather=
#apikey.Meteoblue=

# location configuration, you can specify multiple locations
location.home-OWM.latitude=51.9689871
location.home-OWM.longitude=7.5718776
location.home-OWM.provider=OpenWeatherMap
location.home-OWM.language=de
location.home-OWM.updateInterval=10


location.home-FIO.latitude=51.9689871
location.home-FIO.longitude=7.5718776
location.home-FIO.provider=ForecastIo
location.home-FIO.language=de
location.home-FIO.updateInterval=10

# location configuration, you can specify multiple locations
location.wh-telgte-fio.latitude=51.99145
location.wh-telgte-fio.longitude=7.7730413
location.wh-telgte-fio.provider=ForecastIo
location.wh-telgte-fio.language=de
location.wh-telgte-fio.updateInterval=30

# location configuration, you can specify multiple locations
location.wh-telgte-owm.latitude=51.99145
location.wh-telgte-owm.longitude=7.7730413
location.wh-telgte-owm.provider=OpenWeatherMap
location.wh-telgte-owm.language=de
location.wh-telgte-owm.updateInterval=30
